---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">home</a>
        <a href="/about">à propos</a>
		<a href="/blog">blog</a>
		<h1>A mon propos</h1>
        <h2>et de celui de mon site Astro</h2>
        <p>Je travaille sur le tuto d'introduction d'Astro. C'est la deuxième page de mon site web, et la première que j'écris moi-même</p>
        <p>Je mettrai à jour le site au fur et à mesure que j'avancerai dans le tuto, donc sureveille ce qui se passe et comment se passe mon aventure!</p>
	</body>
</html>