---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type ="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content = {Astro.generator} >
    <title>Astro</title>
  </head>

  <body>

    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blog">blog</a></li>
    </ul>

    <h1>Un blog</h1>
    <h2>une page de blog</h2>
    <p>c'est ici que je vais lister les posts du blog</p>

    <ul>
      <li><a href="/posts/post1">post 1</a></li>
      <li><a href="/posts/post2">post 2</a></li>
      <li><a href="/posts/post3">post 3</a></li>
    </ul>

  </body>

  </html>